h1 {
    text-align: center;
    color: cornflowerblue;
}

.btn-primary {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px;
} /* Blue */

img {
  width: 200px;
  height: 200px;
}