h1 {
    text-align: center;
    color: cornflowerblue;
}

.btn-primary {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px;
} /* Blue */

img {
  width: 200px;
  height: 200px;
}

.col-sm-6 {
  position: relative;
  display: inline-block;
}

.col-sm-6 img{
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
}